/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require default
 *= require animate
 *= require aos
 *= require bootstrap.min
 *= require component
 *= require feature_post
 *= require flaticon
 *= require font-awesome.min
 *= require liner_icon
 *= require magnific-popup
 *= require nice-select
 *= require owl.carousel.min
 *= require post_style
 *= require search
 *= require slick
 *= require style
 *= require swiper.min
 *= require custom
 *= require themify-icons
 */
 @import 'custom';
