<hr>
  <div class="footer_resize">
    <p class="lf">Copyright &copy; 2019
      <%= link_to t("title"), root_path %> - All Rights Reserved</p>
    <div class="clr"></div>
  </div>
  <div class="clr"></div>
