<footer class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
        <h4>about us</h4>
        <p>Heaven fruitful doesn't over the lesser days appear cree ping seasons so behold bea Place likeness female form. Lesser Was green image lights fowl.</p>
      </div>
      <div class="col-xl-3 col-lg-6 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
        <h4>Contact Info</h4>
        <ul>
          <li><p>Address :Your address goes
              here, your demo address.</p></li>
          <li><p>Phone : +8880 44338899</p></li>
          <li><p>Email : info@colorlib.com</p></li>
        </ul>
      </div>
      <div class="col-xl-3 col-lg-6 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
        <h4>Important Link</h4>
        <ul>
          <li><a href="#">WHMCS-bridge</a></li>
          <li><a href="#">Search Domain</a></li>
          <li><a href="#">My Account</a></li>
          <li><a href="#">Shopping Cart</a></li>
          <li><a href="#">Our  Main Shop</a></li>
        </ul>
      </div>
      <div class="col-xl-3 col-lg-6 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
        <h4>Newsletter</h4>
        <p>Heaven fruitful doesn't over lesser in days. Appear creeping seasons deve behold bearing days open</p>
        <div class="form-wrap" id="mc_embed_signup">
          <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
            <input class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '" required="" type="email">
            <button class="click-btn btn btn-default text-uppercase"><i class="ti-arrow-right"></i></button>
            <div style="position: absolute; left: -5000px;">
              <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
            </div>

            <div class="info"></div>
          </form>
        </div>
      </div>
    </div>
    <div class="copyright_text">
      <div class="row align-items-center">
        <div class="col-lg-8">
          <div class="copyright_part">
            <p class="footer-text m-0">Copyright © 2019 All rights reserved <span class="px-2">|</span> This template is Made with <a href="http://colorlib.com"><i class="ti-heart"></i></a> by <a href="http://colorlib.com">Colorlib</a></p>
          </div>
        </div>
        <div class="col-lg-4 text-center text-lg-right">
          <div class="footer-social">
            <a href="#"><i class="ti-facebook"></i></a>
            <a href="#"> <i class="ti-twitter"></i> </a>
            <a href="#"><i class="ti-instagram"></i></a>
            <a href="#"><i class="ti-skype"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>